*.class

# Package Files #
*.jar
*.war
*.ear
/unitTests/Triangle/nbproject/private/
/unitTests/Triangle/build/
/unitTests/Irpf/build/
/unitTests/Irpf/dist/
/persistenceLayer/exercicioJDBC1/nbproject/private/
/persistenceLayer/exercicioJDBC1/build/
/persistenceLayer/exercicioJDBC2/nbproject/private/
/persistenceLayer/exercicioJDBC2/build/