*.class
*.dat
# Package Files #
*.jar
*.war
*.ear
/unitTests/Triangle/nbproject/private/
/unitTests/Triangle/build/
/unitTests/Irpf/build/
/unitTests/Irpf/dist/
/persistenceLayer/exercicioJDBC1/nbproject/private/
/persistenceLayer/exercicioJDBC1/build/
/persistenceLayer/exercicioJDBC2/nbproject/private/
/persistenceLayer/exercicioJDBC2/build/
*.zip
!/designPatterns/IrpfAppSimplificadoDerby/derby.jar
!/designPatterns/IrpfAppSimplificadoDerby/Contribuintes.dat
!/designPatterns/IrpfAppSimplificadoDerby/derbyDB/log/log1.dat
!/designPatterns/IrpfAppSimplificadoDerby/derbyDB/seg0/*
/threads/Matrix/nbproject/private/
/threads/Matrix/build/
/tf/Examiner/nbproject/private/

!/tf/Examiner/lib/*
!/tf/Examiner/lib/CopyLibs/*
/tf/Examiner/build/
/tf/Examiner/dist/
/mvc/Temperature/nbproject/private/
/mvc/Temperature/build/